# Oplossingen Smart Devices

De buurman heeft in zijn huis een aantal sensoren geplaatst. De sensoren meten het verbruik van bepaalde toestellen en ook de temperatuur.  De gegevens worden in een logbestand bewaard. In het bestand “smartDevices.csv” zie je de data van een aantal dagen staan. De buur heeft aan jou gevraagd om een script te schrijven waarmee hij maandelijks een nieuwe CSV kan aanmaken die een aantal gegevens op dagbasis wegschrijft. Om dit te doen moet je gegevens groeperen per dag.

Hij wil volgende zaken in het bestand zien staan:
- Datum
- Totaal verbruik in kWh voor die dag (enkel gegevens waarvan de eenheid kWh is)
- Gemiddelde temperatuur in de woonkamer (enkel metingen voor WOONKAMER)

Importeer hier alle nodige bibliotheken:

In [14]:
# hier komt jouw code
import pandas as pd
import numpy as np

### Inlezen van de gegevens
Lees de dataset in.  Het CSV-bestand begint met enkele informatieregels, die moet je overslaan.
Je zal zien dat kommagetallen met een ',' geschreven zijn.  Lees dit juist in.

Bekijk de kolommen en hun datatypes.

In [15]:
# hier komt jouw code
smart = pd.read_csv("../data/smartDevices.csv", sep=";", header=0, skiprows=4, decimal=',')
print(smart.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11182 entries, 0 to 11181
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Login Naam             11182 non-null  object
 1   Gateway Mac Address    11182 non-null  int64
 2   Apparaat-ID            11182 non-null  object
 3   Apparaat               11182 non-null  object
 4   Datum                  11182 non-null  object
 5   Uur                    11182 non-null  object
 6   Meetwaarde             11182 non-null  float64
 7   Eenheid                11182 non-null  object
 8   Kost (EUR)             11182 non-null  float64
 9   CO2 (kg)               11182 non-null  float64
 10  Meettype               11182 non-null  object
 11  Consument / Producent  2304 non-null   object
 12  Hoofd / deelmeter      2304 non-null   object
 13  Type apparaat          2304 non-null   object
 14  Kamer                  11182 non-null  object
 15  Groep-Ids              0 non-null      float64
 16  Groepen                0 non-null      float64
 17  Unnamed: 17            0 non-null      float64
 18  Unnamed: 18            0 non-null      float64
 19  Unnamed: 19            0 non-null      float64
dtypes: float64(8), int64(1), object(11)
memory usage: 1.7+ MB
None

Er zijn 3 kolommen zonder naam (unnamed).  Verwijder deze

In [16]:
# hier komt jouw code
smart.drop(columns=['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'], inplace=True)
smart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11182 entries, 0 to 11181
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Login Naam             11182 non-null  object
 1   Gateway Mac Address    11182 non-null  int64
 2   Apparaat-ID            11182 non-null  object
 3   Apparaat               11182 non-null  object
 4   Datum                  11182 non-null  object
 5   Uur                    11182 non-null  object
 6   Meetwaarde             11182 non-null  float64
 7   Eenheid                11182 non-null  object
 8   Kost (EUR)             11182 non-null  float64
 9   CO2 (kg)               11182 non-null  float64
 10  Meettype               11182 non-null  object
 11  Consument / Producent  2304 non-null   object
 12  Hoofd / deelmeter      2304 non-null   object
 13  Type apparaat          2304 non-null   object
 14  Kamer                  11182 non-null  object
 15  Groep-Ids              0 non-null      float64
 16  Groepen                0 non-null      float64
dtypes: float64(5), int64(1), object(11)
memory usage: 1.5+ MB

### Numeriek maken
Wat is het type van de elementen in de kolom "Meetwaarde"?
Als dit float is, dan is alles OK en heb je het bestand juist ingelezen.
Als dat niet het geval is, heb je een fout gemaakt bij het inlezen van het bestand.  Kan je zien welke?
Zet in dit geval de kolom "Meetwaarde" om naar decimale waarden.

In [17]:
# hier komt jouw code
# het type is "object" (eigenlijk zijn het strings, dat kan je zien als je het eerste element afdrukt)
print(smart.info())
print(smart.Meetwaarde[0])
# dit komt omdat er ',' gebruikt werd om kommagetallen te noteren.  Bij het inlezen kan je de optie 'decimal' gebruiken om dit juist te zetten.  Je kan de data echter ook op dit moment als volgt omzetten:
# smart.Meetwaarde = smart.Meetwaarde.str.replace(',', '.', regex=False)
# smart.Meetwaarde = pd.to_numeric(smart.Meetwaarde, errors='coerce')
# print(smart.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11182 entries, 0 to 11181
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Login Naam             11182 non-null  object
 1   Gateway Mac Address    11182 non-null  int64
 2   Apparaat-ID            11182 non-null  object
 3   Apparaat               11182 non-null  object
 4   Datum                  11182 non-null  object
 5   Uur                    11182 non-null  object
 6   Meetwaarde             11182 non-null  float64
 7   Eenheid                11182 non-null  object
 8   Kost (EUR)             11182 non-null  float64
 9   CO2 (kg)               11182 non-null  float64
 10  Meettype               11182 non-null  object
 11  Consument / Producent  2304 non-null   object
 12  Hoofd / deelmeter      2304 non-null   object
 13  Type apparaat          2304 non-null   object
 14  Kamer                  11182 non-null  object
 15  Groep-Ids              0 non-null      float64
 16  Groepen                0 non-null      float64
dtypes: float64(5), int64(1), object(11)
memory usage: 1.5+ MB
None
0.0002

### Categorical

Verwijder alle kolommen die maar 1 waarde of enkel ontbrekende waarden bevatten.  Deze zijn toch maar constanten en hoeven niet bijgehouden te worden.

In [22]:
# hier komt jouw code
# we zoeken eerst alle unieke waarden per kolom
for kolomnaam in smart.columns:
    print("kolom ", kolomnaam, ": ", smart[kolomnaam].unique())
# nu kunnen we de juiste kolommen weghalen
smart.drop(columns=['Login Naam', 'Gateway Mac Address', 'CO2 (kg)', 'Consument / Producent', 'Hoofd / deelmeter', 'Kamer', 'Groep-Ids', 'Groepen'], inplace=True)
smart.info()

kolom  Apparaat-ID :  ['5653a456', '7637edb8', '25847ba7', 'TM01:1578898', 'TM02:0187924', ..., 'TM08:128196', 'TM09:1887325', 'TM10:1337398', 'TM11:8798456', 'TM12:1543687']
Length: 15
Categories (15, object): ['25847ba7', '5653a456', '7637edb8', 'TM01:1578898', ..., 'TM09:1887325', 'TM10:1337398', 'TM11:8798456', 'TM12:1543687']
kolom  Apparaat :  ['wasmachine', 'koelkast', 'microgolf', 'SLAAPKAMER2', 'BADKAMER', 'KEUKEN', 'WOONKAMER', 'SLAAPKAMER1', 'SLAAPKAMER']
Categories (9, object): ['BADKAMER', 'KEUKEN', 'SLAAPKAMER', 'SLAAPKAMER1', ..., 'WOONKAMER', 'koelkast', 'microgolf', 'wasmachine']
kolom  Datum :  ['2018-01-21' '2018-01-22' '2018-01-23' '2018-01-24' '2018-01-25'
 '2018-01-26' '2018-01-27' '2018-01-28']
kolom  Uur :  ['00:00' '00:15' '00:30' '00:45' '01:00' '01:15' '01:30' '01:45' '02:00'
 '02:15' '02:30' '02:45' '03:00' '03:15' '03:30' '03:45' '04:00' '04:15'
 '04:30' '04:45' '05:00' '05:15' '05:30' '05:45' '06:00' '06:15' '06:30'
 '06:45' '07:00' '07:15' '07:30' '07:45' '08:00' '08:15' '08:30' '08:45'
 '09:00' '09:15' '09:30' '09:45' '10:00' '10:15' '10:30' '10:45' '11:00'
 '11:15' '11:30' '11:45' '12:00' '12:15' '12:30' '12:45' '13:00' '13:15'
 '13:30' '13:45' '14:00' '14:15' '14:30' '14:45' '15:00' '15:15' '15:30'
 '15:45' '16:00' '16:15' '16:30' '16:45' '17:00' '17:15' '17:30' '17:45'
 '18:00' '18:15' '18:30' '18:45' '19:00' '19:15' '19:30' '19:45' '20:00'
 '20:15' '20:30' '20:45' '21:00' '21:15' '21:30' '21:45' '22:00' '22:15'
 '22:30' '22:45' '23:00' '23:15' '23:30' '23:45']
kolom  Meetwaarde :  [2.000e-04 1.000e-04 2.070e-02 4.917e-01 1.101e-01 1.750e-02 1.810e-02
 5.700e-03 4.730e-02 5.158e-01 2.547e-01 2.350e-02 2.260e-02 2.250e-02
 3.000e-03 2.000e-03 2.666e-01 1.820e-02 2.500e-01 2.660e-02 1.000e-03
 2.569e-01 1.840e-02 2.439e-01 3.120e-02 2.488e-01 2.590e-02 2.616e-01
 2.160e-02 9.630e-02 1.673e-01 8.000e-03 8.200e-03 8.100e-03 4.200e-03
 0.000e+00 3.900e-03 7.300e-03 7.900e-03 5.500e-03 3.500e-03 4.370e-02
 1.800e-02 1.140e-02 1.130e-02 1.090e-02 1.040e-02 9.600e-03 2.200e-03
 6.000e-03 5.000e-03 1.200e-03 1.100e-03 8.300e-03 3.400e-03 5.000e-04
 8.400e-03 4.100e-03 6.400e-03 2.500e-03 2.700e-02 4.410e-02 1.190e-02
 1.100e-02 1.050e-02 1.020e-02 3.700e-03 5.200e-03 7.100e-03 1.900e-03
 4.300e-03 2.400e-03 8.500e-03 1.470e-02 5.590e-02 7.500e-03 1.220e-02
 1.080e-02 1.060e-02 5.900e-03 2.300e-03 7.800e-03 6.300e-03 8.000e-04
 3.000e-04 6.900e-03 4.100e-02 2.360e-02 1.180e-02 1.160e-02 1.110e-02
 1.070e-02 1.030e-02 9.000e-03 5.100e-03 1.800e-03 7.400e-03 5.300e-03
 5.020e-02 1.340e-02 1.200e-02 1.170e-02 6.800e-03 3.600e-03 7.000e-03
 1.600e-03 1.700e-03 1.500e-03 9.100e-03 2.100e-03 1.660e-02 5.070e-02
 6.200e-03 1.010e-02 2.900e-03 5.400e-03 4.600e-03 4.800e-03 7.600e-03
 5.780e-02 1.000e-02 4.400e-03 3.200e-03 4.500e-03 5.240e-02 1.230e-02
 1.210e-02 1.150e-02 5.800e-03 7.700e-03 7.000e-04 6.600e-03 5.500e-02
 9.000e-04 2.180e-02 4.170e-02 8.600e-03 1.120e-02 6.700e-03 1.680e-02
 4.720e-02 9.700e-03 3.570e-02 4.700e-03 6.100e-03 2.800e-03 6.000e-04
 2.090e-02 3.960e-02 9.300e-03 4.000e-04 1.650e-02 4.670e-02 4.900e-03
 3.100e-03 3.340e-02 5.870e-02 1.300e-03 5.600e-03 5.170e-02 8.900e-03
 4.790e-02 1.490e-02 3.300e-03 2.130e-02 4.040e-02 9.900e-03 4.000e-03
 4.830e-02 1.530e-02 1.400e-03 2.700e-03 3.109e-01 4.090e-02 2.440e-02
 2.710e-02 2.150e-02 1.850e-02 2.690e-02 2.290e-02 2.570e-02 4.020e-02
 2.560e-02 3.410e-02 4.610e-02 3.587e-01 3.017e-01 2.778e-01 5.300e-02
 1.750e+01 1.700e+01 1.650e+01 1.600e+01 1.550e+01 1.800e+01 1.900e+01
 1.950e+01 1.850e+01 1.500e+01 1.450e+01 2.000e+01 2.300e+01 2.450e+01
 2.350e+01 2.250e+01 2.150e+01 2.050e+01 2.200e+01 2.400e+01 2.100e+01
 2.500e+01 1.400e+01 1.350e+01 1.300e+01 1.250e+01 1.100e+01]
kolom  Eenheid :  ['kWh', 'Celsius']
Categories (2, object): ['Celsius', 'kWh']
kolom  Kost (EUR) :  [0.000e+00 4.300e-03 1.033e-01 2.310e-02 3.700e-03 3.800e-03 1.200e-03
 9.900e-03 1.083e-01 5.350e-02 4.900e-03 4.700e-03 6.000e-04 4.000e-04
 5.600e-02 5.250e-02 5.600e-03 2.000e-04 5.390e-02 3.900e-03 5.120e-02
 6.600e-03 5.220e-02 5.400e-03 5.490e-02 4.500e-03 2.020e-02 3.510e-02
 1.700e-03 9.000e-04 8.000e-04 1.500e-03 7.000e-04 9.200e-03 2.400e-03
 2.300e-03 2.200e-03 2.000e-03 5.000e-04 1.300e-03 1.100e-03 3.000e-04
 1.000e-04 1.800e-03 5.700e-03 9.300e-03 2.500e-03 2.100e-03 3.100e-03
 1.170e-02 1.600e-03 2.600e-03 1.400e-03 8.600e-03 5.000e-03 1.900e-03
 1.050e-02 2.800e-03 3.500e-03 1.060e-02 1.000e-03 1.210e-02 1.100e-02
 1.160e-02 4.600e-03 8.800e-03 7.500e-03 4.400e-03 8.300e-03 9.800e-03
 7.000e-03 1.230e-02 1.090e-02 1.010e-02 8.500e-03 3.200e-03 6.530e-02
 5.100e-03 4.800e-03 8.400e-03 7.200e-03 9.700e-03 7.530e-02 6.340e-02
 5.830e-02 1.110e-02]
kolom  Meettype :  ['electriciteit', 'Thermostat Actual value', 'Thermostat Setpoint']
Categories (3, object): ['Thermostat Actual value', 'Thermostat Setpoint', 'electriciteit']
kolom  Type apparaat :  ['WASHINGMACHINE', 'REFRIGERATOR+FREEZER', 'MICROWAVE', NaN]
Categories (3, object): ['MICROWAVE', 'REFRIGERATOR+FREEZER', 'WASHINGMACHINE']

KeyError: "['Login Naam', 'Gateway Mac Address', 'CO2 (kg)', 'Consument / Producent', 'Hoofd / deelmeter', 'Kamer', 'Groep-Ids', 'Groepen'] not found in axis"

Zet de kolommen met nominale of ordinale gegevens (strings) om naar een Categorical.  De datums en tijdstippen mag je negeren.

In [19]:
# hier komt jouw code
smart['Apparaat-ID'] = pd.Categorical(smart['Apparaat-ID'])
smart['Apparaat'] = pd.Categorical(smart['Apparaat'])
smart['Eenheid'] = pd.Categorical(smart['Eenheid'])
smart['Meettype'] = pd.Categorical(smart['Meettype'])
smart['Type apparaat'] = pd.Categorical(smart['Type apparaat'])
print(smart.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11182 entries, 0 to 11181
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Apparaat-ID    11182 non-null  category
 1   Apparaat       11182 non-null  category
 2   Datum          11182 non-null  object
 3   Uur            11182 non-null  object
 4   Meetwaarde     11182 non-null  float64
 5   Eenheid        11182 non-null  category
 6   Kost (EUR)     11182 non-null  float64
 7   Meettype       11182 non-null  category
 8   Type apparaat  2304 non-null   category
dtypes: category(5), float64(2), object(2)
memory usage: 405.6+ KB
None

Geef een lijst van alle kolomnamen die ontbrekende waarden bevatten.  Geef het resultaat als een pandas Series van strings (de namen van de kolommen met ontbrekende waarden).

In [20]:
# hier komt jouw code
kolommen = smart.isna().any()
pd.Series(kolommen.index[kolommen])

0    Type apparaat
dtype: object

Schrijf de gegevens nu weg naar een bestand "smartDevices_resultaat.csv".  Gebruik een "." voor decimale getallen en een tab als deliminator.

In [21]:
# hier komt jouw code
smart.to_csv("smartDevices_resultaat.csv", sep="\t", decimal=".", index=False)

Kijk na of het bestand juist bewaard werd.  Probeer het eventueel te importeren in een spreadsheet programma.