# Oplossingen Weblog

We willen analyses kunnen uitvoeren op de logs van een webserver ("UofS_access_log.small"). Om dit te kunnen doen, moet je de relevante gegevens in een dataframe krijgen. Dit moet een automatisch proces zijn zodat ook andere logfiles ingeladen kan worden.

Volgende zaken dienen te gebeuren. Het originele dataframe moet herwerkt worden zodat enkel deze kolommen overblijven:

- domain: bevat de adressen van de clients die een request stuurden
- timestamp: is een datetime veld (POSIXct) dat het tijdstip van de request weergeeft
- resource: toont de resource die werd opgevraagd
- repsponse_code: geeft de HTTP response code die werd terug gegeven door de server
- response_length: geeft de lengte aan van de HTTP response

We gaan dit stap voor stap opbouwen.

Importeer hier alle nodige bibliotheken:

In [1]:
# hier komt jouw code
import pandas as pd

## Inlezen van de gegevens
Lees het dataframe in.  Kijk zelf na wat de seperator is.  Foutieve rijen mag je skippen.  Er is geen header! Het bestand gebruikt de "latin" encodering voor karakters.

In [5]:
# hier komt jouw code
log = pd.read_csv("../data/UofS_access_log.small", sep=" ", encoding="latin", header=None, on_bad_lines='skip')
log.head()

,0,1,2,3,4,5,6,7
0,cad49.cadvision.com,-,-,[01/Jun/1995:00:53:19,-0600],GET /~lowey/webville/icons/blank_32.gif,200,167
1,130.89.250.24,-,-,[01/Jun/1995:02:45:12,-0600],GET /~lowey/webville/icons/south_32.gif,200,210
2,130.54.25.198,-,-,[01/Jun/1995:03:29:56,-0600],GET /~macphed/finite/fe_resources/node92.html,200,1668
3,148.81.17.41,-,-,[01/Jun/1995:04:02:17,-0600],GET /~friesend/tolkien/rootpage.html,200,461
4,anumsun6.univ-st-etienne.fr,-,-,[01/Jun/1995:04:40:30,-0600],GET /~macphed/finite/fe_resources/node58.html,200,1707

Hoeveel lijnen staan er in dit data frame?

In [6]:
# hier komt jouw code
len(log)

48171

Kopieer alle waarden uit de eerste kolom in een variabele "domain".
Kopieer alle waarden uit de zevende kolom in een variabele "response_code"
Kopieer alle waarden uit de achtste kolom in een variabele "response_length"

In [10]:
# hier komt jouw code
domain = log[0]
response_code = log[6]
response_length = log[7]
print(type(domain), type(response_code), type(response_length))

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

Kijk na of de datatypes van "domain", "response_code" en "response_length" juist zijn.  We verwachten respectievelijk: strings, getallen en getallen.  Converteer de variabelen indien nodig.  Als er ongeldige waarden zijn, zouden deze omgezet moeten worden naar NaN.

In [12]:
# hier komt jouw code
response_length = pd.to_numeric(response_length, errors='coerce')
print(type(domain), type(response_code), type(response_length))

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

Hoeveel NaN waarden zitten er in response_length?

In [ ]:
# hint: je zou 897 moeten uitkomen
# hier komt jouw code
response_length.isna().sum()

Hoeveel procent is dat van alle rijen?

In [13]:
# hier komt jouw code
response_length.isna().sum() / len(response_length) * 100

1.8621162109983187

De timestamp staat verspreid in kolommen 3 (datum en uur) en 4 (timezone). Voeg deze samen tot één string.  Plaats het resultaat in een variabele "timestamp".

In [ ]:
# hier komt jouw code
timestamp = log[3] + log[4]
timestamp.head()


Maak een variabele "resource" die alle resources bevat (in de 6e kolom).  Verwijder de 'GET' en 'HTTP/1.0' die soms in het begin en op het einde staan.

In [ ]:
# hier komt jouw code
resource = log[5].str.replace("GET ", "", regex=False).str.replace("HTTP/1.0", "", regex=False)
resource

Maak nu een dataframe met naam "log" waarin de kolommen "domain", "timestamp", "resource", "response_code" en "response_length" staan.  De waarden kan je uit de gemaakte variabelen halen.

In [ ]:
# hier komt jouw code
log = pd.DataFrame({'domain':domain, 'timestamp':timestamp, 'resource':resource, 'response_code':response_code, 'response_length':response_length})
log.info()

Verwijder nu alle rijen uit je dataframe waar een ontbrekende waarde in voorkomt.

In [ ]:
# hier komt jouw code
log.dropna(inplace=True)
log.head()

Zoek de rij(en) met de grootste response_length

In [1]:
# hier komt jouw code
rijen = log.response_length == log.response_length.max()
log.loc[rijen]

NameError: name 'log' is not defined

Bewaar het resultaat in een CSV-bestand "log_resultaat.csv".  Gebruik ',' als separator en "." voor decimale getallen.

In [ ]:
# hier komt jouw code
log.to_csv("log_resultaat.csv", sep=",", decimal=".", index=False)

Probeer het bestand in een spreadsheet te importeren.