# Oefeningen Smart Devices

De buurman heeft in zijn huis een aantal sensoren geplaatst. De sensoren meten het verbruik van bepaalde toestellen en ook de temperatuur.  De gegevens worden in een logbestand bewaard. In het bestand “smartDevices.csv” zie je de data van een aantal dagen staan. De buur heeft aan jou gevraagd om een script te schrijven waarmee hij maandelijks een nieuwe CSV kan aanmaken die een aantal gegevens op dagbasis wegschrijft. Om dit te doen moet je gegevens groeperen per dag.

Hij wil volgende zaken in het bestand zien staan:
- Datum
- Totaal verbruik in kWh voor die dag (enkel gegevens waarvan de eenheid kWh is)
- Gemiddelde temperatuur in de woonkamer (enkel metingen voor WOONKAMER)

Importeer hier alle nodige bibliotheken:

In [15]:
import pandas as pd
import numpy as np
import math

### Inlezen van de gegevens
Lees de dataset in.  Het CSV-bestand begint met enkele informatieregels, die moet je overslaan.
Je zal zien dat kommagetallen met een ',' geschreven zijn.  Lees dit juist in.

Bekijk de kolommen en hun datatypes.

In [1]:
data = pd.read_csv("./data/smartDevices.csv", sep=";", decimal=",", header=0, skiprows=4)
print(data)

NameError: name 'pd' is not defined

Er zijn 3 kolommen zonder naam (unnamed).  Verwijder deze

In [17]:
data.drop(columns=['Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'], inplace=True)

### Numeriek maken
Wat is het type van de elementen in de kolom "Meetwaarde"?
Als dit float is, dan is alles OK en heb je het bestand juist ingelezen.
Als dat niet het geval is, heb je een fout gemaakt bij het inlezen van het bestand.  Kan je zien welke?
Zet in dit geval de kolom "Meetwaarde" om naar decimale waarden.

In [18]:
print(type(data.Meetwaarde[0]))
# data.Meetwaarde = smart.Meetwaarde.str.replace(',', '.', regex=False)
# data.Meetwaarde = pd.to_numeric(smart.Meetwaarde, errors='coerce') coerce, ignore, raise

<class 'numpy.float64'>

### Categorical

Verwijder alle kolommen die maar 1 waarde of enkel ontbrekende waarden bevatten.  Deze zijn toch maar constanten en hoeven niet bijgehouden te worden.

In [24]:
data = data.loc[:, data.nunique() > 1]
data = data.dropna(axis='columns', how='all')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11182 entries, 0 to 11181
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Apparaat-ID    11182 non-null  object
 1   Apparaat       11182 non-null  object
 2   Datum          11182 non-null  object
 3   Uur            11182 non-null  object
 4   Meetwaarde     11182 non-null  float64
 5   Eenheid        11182 non-null  object
 6   Kost (EUR)     11182 non-null  float64
 7   Meettype       11182 non-null  object
 8   Type apparaat  2304 non-null   object
dtypes: float64(2), object(7)
memory usage: 786.4+ KB

Zet de kolommen met nominale of ordinale gegevens (strings) om naar een Categorical.  De datums en tijdstippen mag je negeren.

In [25]:
data['Apparaat-ID'] = pd.Categorical(data['Apparaat-ID'])
data['Apparaat'] = pd.Categorical(data['Apparaat'])
data['Eenheid'] = pd.Categorical(data['Eenheid'])
data['Meettype'] = pd.Categorical(data['Meettype'])
data['Type apparaat'] = pd.Categorical(data['Type apparaat'])
print(data.info())

Geef een lijst van alle kolomnamen die ontbrekende waarden bevatten.  Geef het resultaat als een pandas Series van strings (de namen van de kolommen met ontbrekende waarden).

In [33]:
kolommen = data.isna().any()
pd.Series(kolommen.index[kolommen])

0    Type apparaat
dtype: object

Schrijf de gegevens nu weg naar een bestand "smartDevices_resultaat.csv".  Gebruik een "." voor decimale getallen en een tab als deliminator.

In [35]:
data.to_csv("./data/smartDevices_resultaat.csv", decimal=".", sep="\t", index=False)

Kijk na of het bestand juist bewaard werd.  Probeer het eventueel te importeren in een spreadsheet programma.